*{
  margin: 0;
  padding: 0;
}

a, a:focus, a:visited{
  text-decoration: none;
  color: inherit;
}
/* END OF RESTET */
body{
  background: #f4f4f6;
}

.wrapper{
  width: 1000px;
  margin: auto;
}

header{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Ubuntu;
}

header img{
  padding: 50px 0 40px 0;
}
.contact{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact p {
  text-align: center;
}
.contact p:first-child{
  font-size: 22px;
}
.contact p:last-child{
  font-size: 32px;
}
/* END OF HEADER */

nav{
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}
.category{
  width: 450px;
  height: 450px;
  position: relative;
  margin: 15px;
  box-shadow: 0 0 13px #626262;
  cursor: pointer;

}

.category img{
  width: 450px;
  width: 450px;
}
.category p {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 70px;
  font-family: Ubuntu;
  font-weight: bold;
  text-shadow: 0 0 5px #111;
  color: white;
}
