*{
  margin: 0;
  padding: 0;
}

a, a:focus, a:visited{
  text-decoration: none;
  color: inherit;
}
/* END OF RESTET */
body{
  background: #f4f4f6;
}

.wrapper{
  width: 70%;
  margin: auto;
}

header{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Ubuntu;
}

header img{
  padding: 50px 0 40px 0;
}
.contact{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact p {
  text-align: center;
}
.contact p:first-child{
  font-size: 22px;
}
.contact p:last-child{
  font-size: 32px;
}
/* END OF HEADER */

nav{
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.category{
  flex: 1 50%;
  position: relative;
  padding: 15px;
  cursor: pointer;
  box-sizing: border-box;

}

.category img{
  width: 100%;
  height: 100%;
  box-shadow: 0 0 13px #626262;
  transition: all .3s ease-in-out;
}
.category:hover img{
  box-shadow: 0 0 20px #121212;
}
.category p {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 70px;
  font-family: Ubuntu;
  font-weight: bold;
  text-shadow: 0 0 5px #111;
  color: white;
}
/* END OF MENU */

footer{
  margin-top: 50px;
  width: 100%;
  background: #353535;
  border-top: 1px solid #5ab1bb;
  box-shadow: 0 0 10px #626262;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Ubuntu;
  color: #d7d7d7;
  padding: 50px 0;
}

.footer-detalis{
  list-style-type: none;

}
.fb{
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 820px){
  nav{
    flex-flow: column nowrap;
    align-items: center;

  }
  .wrapper{
    width: 100%;
  }
  .category p {
    font-size: 70px;
  }
}

@media (max-width: 997px){
  .wrapper{
    width: 100%;
  }
  .category p {
    font-size: 55px;
  }

}
@media (max-width: 1267px){
  .wrapper{
    width: 90%;
  }

}
